@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

@layer theme {
  :root {
    --p-panelmenu-submenu-indent: 1.5rem !important;
  }
}

@layer components {
  .p-panelmenu-panel {
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
  }

  .p-select-label {
    line-height: 1.5rem;
  }

  .p-multiselect-label {
    line-height: 1.5rem;
  }

  .p-datatable-tbody > tr:last-child > td {
    border-bottom: none !important;
  }
}